<span>This is First Component</span><input type="text" [(ngModel)]="textValue">
<button (click)="passTheValue()" >Pass the Value</button>

<div class="some page-wrapper">
  <div class="row">
     <div class="columns">
        <div class='blue-column'>
            Some Text in Column One
          </div>
     </div>
     <div class="columns">
        <div class='green-column'>
            Some Text in Column Two
          </div>
     </div>
     <div class="columns">
        <div class='orange-column'>
            Some Text in Column Two
          </div>
     </div>
     <div class="columns">
        <div class='gray-column'>
            Some Text in Column Two
          </div>
     </div>
     <div class="columns">
        <div class='violet-column'>
            Some Text in Column Two
          </div>
     </div>
     <div class="columns">
        <div class='red-column'>
            Some Text in Column Two
          </div>
     </div>
     <div class="columns">
        <div class='yellow-column'>
            Some Text in Column Two
          </div>
     </div>
  </div>

</div>
