.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.blue-column {
  background-color: blue;
  height: 100px;
}

.green-column {
  background-color: green;
  height: 100px;
}

.orange-column {
  background-color: orange;
  height: 100px;
}

.violet-column {
  background-color: violet;
  height: 100px;
}

.yellow-column {
  background-color: yellow;
  height: 100px;
}

.gray-column {
  background-color: gray;
  height: 100px;
}

.red-column {
  background-color: red;
  height: 100px;
}
